
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.border {
  border-width: 1px;
}

.border-all {
  border:solid wheat 2px;
}

.flex-item {
  padding: 1.25rem; 
  max-height: max-content; 
  color: #fff; 
}


.flex-item.red {
  background-color: #ef4444; 
}
.flex-item.blue {
  background-color: #3b82f6; 
}
.flex-item.green {
  background-color: #22c55e; /
}